<div class="row" style="margin-top: 18px">

    <div class="col-md-2">
      <a [routerLink]="[ '/home' ]"><img src="../../assets/left-arrow.png" width="10%"></a>
  
      <img src="../../assets/pie-chart.png" width="80%" style="margin-right: 50px">
    </div>
    <div class="col-md-6">
      <h4>GRAPH</h4>
      <small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia nobis quasi, reprehenderit quo a
        laboriosam voluptates omnis placeat exercitationem delectus deserunt perferendis nisi inventore, vitae,
        autem sed! Magnam, provident voluptas.</small>
    </div>
  </div>
  <div class="row" style="margin-top: 5%">
    <h6 class="col-md-12">GRAPH FLOATING</h6>
    <small class="col-md-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, deleniti assumenda
      tempora illo optio praesentium facilis maiores illum quos exercitationem ipsam facere mollitia ratione
      aliquid, et harum officiis unde inventore!</small>
    <div class="col-md-12" style="margin-top: 2%;margin-bottom: 50px">
      <div class="row">
        <div class="col-md-6">
            <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
        </div>
        <div class="col-md-6">
            <div id="chartContainer2" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
        </div>
      </div>
    </div>